<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chris Risley</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106814101-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date());

        gtag('config', 'UA-106814101-1');
    </script>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css/style.css">
    <script src="../static/styles/js/materialize.js"></script>


</head>

<body style="width: 100%; height: 100%; background: white">


<main>


    <div style="float: left" id="particles-js">
    </div>

    <section style="text-align: center">
        <div class="z-depth-4 invisible_card">
            <a style="border-top-left-radius: 50px; border-top-right-radius: 50px; width: 100%;"
               class="waves-effect waves-light btn"
               href="{{ url_for('static', filename='resume.pdf', _external=True) }}"><i class="material-icons left">cloud</i>
                <div style="float: left">Resume</div>
            </a>
            <div style="margin: 50px; text-align: left">
                <ul class="collapsible">

                    <li style="list-style-type: none;">
                        <div class="collapsible-header" style="border-top: 4px solid teal">
                            <i class="material-icons">face</i><b>Value Proposition</b>
                        </div>
                        <div class="collapsible-body">
                            <div style="width: 100%; text-align: center">
                                <img class="z-depth-5"
                                     style="margin-top: 10px; border: 3px solid white; border-radius: 50%; width: 150px; height: 200px;"
                                     src="../static/styles/images/prof.jpg">
                            </div>
                            <div class="card-content black-text">
                                <div style="margin-top: 20px;" class="text">
                                    Offers future employers a unique blend of technology, finance and entrepreneurship
                                    experience.
                                    Proven ability to deliver high-quality, thoughtful and demonstrably impactful
                                    contributions to VMware, Cisco, BNY Mellon,
                                    a boutique technology investment bank, and to his own various startup ventures.
                                    Quick learning, inquisitive, personable, self-starting personality who knows the
                                    value of persistence under hardship.
                                </div>

                            </div>
                        </div>
                    </li>

                    <li style="list-style-type: none;">
                        <div class="collapsible-header" style="border-top: 4px solid teal">
                            <i class="material-icons">school</i><b>Education</b>
                        </div>
                        <div class="collapsible-body">
                            <div class="card-content black-text">
                                <ul style="list-style-type: none;">
                                    <li style="list-style-type: none;"><a href="http://www.northeastern.edu/"><b>Northeastern
                                        University: Boston,
                                        MA</b></a></li>
                                    <li style="list-style-type: none;">College of Computer and Information Science</li>
                                    <li style="list-style-type: none;"><i>Candidate for Bachelor of Science in Computer
                                        Science, expected. 2020</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li style="list-style-type: none;">
                        <div class="collapsible-header" style="border-top: 4px solid teal">
                            <i class="material-icons">menu</i><b>Experience</b>
                        </div>
                        <div class="collapsible-body no-padding-special">

                            <ul class="collapsible">

                                <li style="list-style-type: none;">
                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/vm.png">
                                        <div style="width: 50%; float: left;">VMware</div>
                                        <div style="width: 50%; text-align: right; float: right;">Spring 2019</div>
                                    </div>
                                    <div class="collapsible-body">
                                        <i>Software Engineer</i>
                                        <ul>
                                            <li>Assimilated into VCloud Director networking team, engaging with
                                                underlying networking problems, collaborating with co-workers, and
                                                tackling a multitude of development issues in the process.
                                            </li>
                                            <li>Expanded Open-API functionality, STF testing suites, and resolved
                                                numerous product-breaking bugs, resulting in an estimated 5% leap
                                                towards reaching VCD's Networking release goals.
                                            </li>
                                            <li>Researched, implemented, and presented a tomcat-deployable,
                                                Jenkins-integrated proxy in Java Spring Boot, that's essential in the
                                                testing of VCD's integration with Amazon Web Services (A key component
                                                to VMware's Partnership with Amazon), saving developers 10 hours per
                                                week in manual testing.
                                            </li>
                                        </ul>
                                    </div>
                                </li>


                                <li style="list-style-type: none;">
                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/cisco.png">
                                        <div style="width: 50%; float: left;">Cisco Systems</div>
                                        <div style="width: 50%; text-align: right; float: right;">Summer 2018</div>
                                    </div>

                                    <div class="collapsible-body">
                                        <i>Software Engineer</i>
                                        <ul>
                                            <li>Integrated into Cisco Defense Orchestrator front-end development team,
                                                grasping difficult networking concepts while simultaneously making
                                                significant strides in front-end development progress.
                                            </li>
                                            <li>Taught myself Spring Boot, Angular.js, and Node.js over a 1-month period
                                                to meet development demands.
                                            </li>
                                            <li>Completed 8% of product navigation milestone reaching every CDO
                                                customer, on-par with full time developers.
                                            </li>
                                            <li>Demoed front-end and back-end individual progress on a weekly basis to
                                                thirty other CDO employees as a means of acquiring constructive
                                                criticism and iterating on the results.
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li style="list-style-type: none;">

                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/bny.png">
                                        &nbsp;<div style="width: 50%; float: left;">Bank of New York</div>
                                        <div style="width: 50%; text-align: right; float: right;">Spring 2018</div>
                                    </div>
                                    <div class="collapsible-body">
                                        <i>Software Engineer</i>
                                        <ul>
                                            <li>Using python, developed a command line ETL process between our Apache
                                                Phoenix database and Elasticsearch database that easily transferred over
                                                100 million records in an efficient and optimized manner. Used DBeaver
                                                as a way to monitor the process. Saved over 10 hours of work per week.
                                            </li>
                                            <li>Maintained spool queries in charge of the transfer of data from multiple
                                                legacy databases to our Hadoop cluster.
                                            </li>
                                            <li>Actively engaged in best Agile Development practices and saw, first
                                                hand, how quickly the process allows for the development of a valuable
                                                minimum viable product.
                                            </li>
                                            <li>Worked as a fully functional scrum team member and pushed code into what
                                                will eventually reach production.
                                            </li>
                                            <li>Leveraged docker as a means of both running tests on local
                                                elasticsearch, fluentd, and kibana instances and contributing to our
                                                microservice infrastructure.
                                            </li>
                                            <li>In charge of developing the continuous integration / continuous
                                                deployment pipeline for Python. Currently working with Linkedin’s
                                                Pygradle, Jenkins, Bitbucket, and Docker to automatically build/handle
                                                dependencies, develop standard e2e tests, and finally publish the
                                                repository to our remote artifactory.
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li style="list-style-type: none;">
                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/infer.png">
                                        &nbsp;<div style="width: 50%; float: left;">Inference Solutions</div>
                                        <div style="width: 50%; text-align: right; float: right;">Summer 2017</div>
                                    </div>

                                    <div class="collapsible-body">
                                        <i>Software Engineer</i>
                                        <ul>
                                            <li>Developed a web app using Firebase, PHP, JavaScript, and HTML/CSS that
                                                manipulated and then visualized client data with various front-end
                                                frameworks including Highcharts and Bootstrap.
                                            </li>
                                            </li>
                                            <li>Decreased website loading times by 4-5 seconds in utilizing a standard
                                                MVC architecture and by applying dynamic programming fundamentals to the
                                                algorithms in charge of aggregating and interpreting data.
                                            </li>
                                            <li>Hosted Alexa skill on AWS Lambda that interacted with Inference’s API
                                                such that you could initialize, manage, and create interactive voice
                                                response campaigns through your Amazon Alexa.
                                            </li>
                                            <li>Communicated directly with the senior software developer (remotely),
                                                CMO, and CEO
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li style="list-style-type: none;">

                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/ac.png">
                                        &nbsp;<div style="width: 50%; float: left;">Architect Partners LLC</div>
                                        <div style="width: 50%; text-align: right; float: right;">Summer 2016</div>
                                    </div>
                                    <div class="collapsible-body">
                                        <i>Investment Banking Summer Analyst</i>
                                        <ul>
                                            <li>Assisted with transaction execution, new business development, and M&A
                                                research efforts.
                                            </li>
                                            <li>Worked alongside Managing Partner on AllClear ID’s acquisition of
                                                Encap Security, providing Encap and AllClear Id executives with data
                                                supporting the MD’s strategic rationale and assessed value.
                                            </li>
                                            <li>Performed due diligence on incoming client's with Capital IQ and
                                                CruncbBase, results of which were used by Managing Partner in
                                                discussions with C-level executives.
                                            </li>
                                            <li>Co-authored two M&A research articles, one on Salesforce’s acquisition
                                                of Demandware and another on Vista Equity Partner’s acquisition of
                                                Marketo, that were published on Architect Partner's website.
                                            </li>
                                        </ul>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </li>

                    <li style="list-style-type: none;">
                        <div class="collapsible-header" style="border-top: 4px solid teal">
                            <i class="material-icons">stars</i><b>Achievements</b>
                        </div>
                        <div class="collapsible-body no-padding-special">

                            <ul class="collapsible">

                                <li style="list-style-type: none;">

                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/nyte.png">
                                        &nbsp;<div style="width: 50%; float: left;">Nyte</div>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>
                                            Nightlife utility application with a launch date planned for August of 2019.
                                            Led a team of five in the building of a pitch deck, business plan, and
                                            mobile app. Pitched to Northeastern University's venture accelerator and
                                            Marc Weill who is a Senior Advisor at Two Sigma Ventures and former CIO at
                                            Citibank.
                                        </p>
                                    </div>

                                </li>
                                <li style="list-style-type: none;">

                                    <div class="collapsible-header"><img class="company_logos"
                                                                         src="../static/styles/images/nols.png">
                                        &nbsp;<div style="width: 50%; float: left;">NOLS</div>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>
                                            As a team of 12, mountaineered throughout Wyoming’s grueling Wind River
                                            Range. Under dangerous and stressful storm conditions, quickly led our team
                                            through glaciated valleys, stretching my critical thinking skills,
                                            leadership ability, and calmness under pressure. Climbed Gannet Peak,
                                            Fremont Peak, Mt. Sacagawea, Pronghorn Peak, Nylon
                                            Peak, Mt. Helens, Jackson Peak, and Harrower Peak, travelling 250 miles with
                                            a 60lb pack in the process.
                                        </p>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </li>

                    <li style="list-style-type: none;">
                        <div style="border-top: 4px solid teal" class="collapsible-header">
                            <i class="material-icons">code</i><b>Skills</b></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <p class="text">
                                        <b>Languages: </b> Python, Java, HTML, CSS, PHP, C++, Golang, C, Javascript
                                    </p>
                                </li>
                                <li>
                                    <p class="text">
                                        <b>Web:</b> Spring Boot, Flask, Node, Angular 1, React, Bootstrap, Materialize,
                                        Jinja2
                                    </p>
                                </li>
                                <li>
                                    <p class="text">
                                        <b>Database:</b>
                                        <a href="https://www.mysql.com/">MySQL</a>,
                                        <a href="https://www.mongodb.com">MongoDB</a>,
                                        <a href="https://firebase.google.com/docs/database/">Firebase DB</a>,
                                        <a href="">Elasticsearch</a>,
                                        <a href="">Hadoop</a>
                                    </p>
                                </li>

                                <li>
                                    <p class="text">
                                        <b>Infrastructure:</b>
                                        <a>Jenkins</a>,
                                        <a>Gradle</a>,
                                        <a>Docker</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text">
                                        <b>Cloud Services:</b> <a href="https://www.heroku.com/">Heroku</a>,
                                        <a href="https://aws.amazon.com/lambda/?sc_channel=PS&sc_campaign=pac_ps_q4&sc_publisher=google&sc_medium=lambda_b_pac_q42017&sc_content=lambda_e&sc_detail=aws%20lambda&sc_category=lambda&sc_segment=webp&sc_matchtype=e&sc_country=US&sc_geo=namer&sc_outcome=pac&s_kwcid=AL!4422!3!231586248659!e!!g!!aws%20lambda&ef_id=WgvN5AAAAJdbkSsy:20171117165929:s">AWS
                                            Lambda</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text">
                                        <b>Software:</b> Eclipse, <a href="https://www.jetbrains.com/">JetBrains
                                        IDEs</a>
                                        (IntelliJ IDEA, GitHub, PyCharm, CLion, PHPStorm, WebStorm)
                                        <br>
                                        <a href="https://www.mysql.com/products/workbench/">MySQL Workbench</a>,
                                        <a href="https://www.office.com/">Microsoft Office</a>,
                                        <a href="https://www.spglobal.com/marketintelligence/en/index">CapIQ</a>,
                                        <a href="https://www.ableton.com/en/">Ableton Live</a>,
                                        DBeaver
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li style="list-style-type: none;">
                        <div style="border-top: 4px solid teal" class="collapsible-header">
                            <i class="material-icons">motorcycle</i><b>Interests</b></div>
                        <div class="collapsible-body"><p class="text">
                            I enjoy rock climbing, mountaineering, dirt biking, and hiking. I've also recently
                            started producing music with a software called Ableton. At Northeastern, I'm a part of the
                            outdoor's club <a href="https://orgsync.com/27849/chapter">(NUHOC)</a>, ski club
                            <a href="https://www.google.com/search?q=northesatern+ski+club&ie=utf-8&oe=utf-8&client=firefox-b-1-ab">(NU
                                Downhillers)</a>, and the rock climbing club. I'm hoping to get into mountain biking if
                            I have the time. My dream is to one day climb Denali.
                        </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: center">
            <ul style="display: inline-block;">
                <li style="list-style-type: none; float: left; margin-left: 20px;">
                    <a href="mailto: risley.c@husky.neu.edu"
                       class="waves-effect waves-light btn-floating social facebook">
                        <i class="material-icons">email</i></a>
                </li>
                <li style="list-style-type: none; float: right; margin-left: 20px;">

                    <a href="https://www.linkedin.com/in/christopherrisley/"
                       class="waves-effect waves-light btn-floating social linkedin">
                        <i class="fa fa-linkedin"></i></a>
                </li>

                <li style="list-style-type: none; float: right; margin-left: 20px;">
                    <a href="https://github.com/CrizR" class="waves-effect waves-light btn-floating social github">
                        <i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </section>
</main>

</body>

<!-- SCRIPTS -->
<script src="../static/styles/js/particles.min.js"></script>
<script src="../static/styles/js/app.js"></script>


<!-- JQuery -->

<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

<script>
    $(document).ready(function () {
        $('.slider').slider();
    });
</script>
</html>

